<!doctype html>
<html lang="en">
  <head>
      {%  load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src='{% static "bower_components/jquery/dist/jquery.min.js" %}'></script>
      <script type="text/javascript" src='{% static "bower_components/moment/min/moment.min.js" %}'></script>
      <script type="text/javascript" src='{% static "bootstrap/dist/js/bootstrap.min.js" %}'></script>
      <script type="text/javascript" src='{% static "bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}'></script>
    <link rel="stylesheet" href='{% static "bootstrap/dist/css/bootstrap.min.css" %}' />
    <link rel="stylesheet" href='{% static "bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}' />
    <title>Know Before</title>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="KBB" src="">
          </a>
        </div>
      </div>
    </nav>
  <div class="container">
    <h1 style="text-align:center">FOOTBALL - LATEST HIGHLIGHTS</h1><br/>

      <div class="row">
        <div class="col-sm">
            <input class="form-control" type="search" placeholder="type team name" id="home_team">
        </div>
          <strong>Vs</strong>
        <div class="col-sm">
            <input class="form-control" type="search" placeholder="type team name (Optional)" id="away_team">
        </div>
          <strong>From</strong>
        <div class="col-sm">
                <input type='text' placeholder="date (optional)" class="form-control" id='datetimepicker6' />
        </div>
          <strong>To</strong>
        <div class="col-sm">
               <input type='text' placeholder="date (optional)" class="form-control" id='datetimepicker7' />
        </div>
      </div>

    <table class="table table-striped table-bordered table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Team A</th>
          <th scope="col">Team B</th>
          <th scope="col">Results (TeamA:TeamB)</th>
          <th scope="col">Location</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
      {% for match in data %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{match.team_a}}</td>
            <td>{{match.team_b}}</td>
            <td>{{match.results}}</td>
            <td>{{match.location}}</td>
            <td>{{match.match_date}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

      <div class="row">
        <div class="col-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </div>
        <div class="col-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </div>
    </div>
  </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker6').datetimepicker({
                format: 'DD/MM/YYYY'
            });
            $('#datetimepicker7').datetimepicker({
                useCurrent: false, //Important! See issue #1075
                format: 'DD/MM/YYYY'
            });
            $("#datetimepicker6").on("dp.change", function (e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
  </body>
</html>