<!doctype html>
<html lang="en">
  <head>
      {%  load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src='{% static "bower_components/jquery/dist/jquery.min.js" %}'></script>
      <script type="text/javascript" src='{% static "bower_components/moment/min/moment.min.js" %}'></script>
      <script type="text/javascript" src='{% static "bootstrap/dist/js/bootstrap.min.js" %}'></script>
      <script type="text/javascript" src='{% static "bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}'></script>
    <link rel="stylesheet" href='{% static "bootstrap/dist/css/bootstrap.min.css" %}' />
    <link rel="stylesheet" href='{% static "bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}' />
    <title>Know Before</title>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="KBB" src="">
          </a>
        </div>
      </div>
    </nav>
  <div class="container">
    <h1 style="text-align:center">FOOTBALL - LATEST HIGHLIGHTS</h1><br/>
    <form action="{% url 'match' %}" method="POST">
      <div class="row">
        <div class="col-sm">
            <input class="form-control" type="search" placeholder="type team name" id="team_a" name="team_a">
        </div>
          <strong>Vs</strong>
        <div class="col-sm">
            <input class="form-control" type="search" placeholder="type team name (Optional)" id="team_b" name="team_b">
        </div>
          <strong>From</strong>
        <div class="col-sm">
                <input type='text' placeholder="date (optional)" class="form-control" id='datetimepicker6' name="start_date" />
        </div>
          <strong>To</strong>
        <div class="col-sm">
               <input type='text' placeholder="date (optional)" class="form-control" id='datetimepicker7' name="end_date" />
        </div>
          <div class="col-sm-1">
            <button type="submit" class="btn btn-primary">Filter</button>
          </div>

      </div>
    </form>
    <table class="table table-striped table-bordered table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Team A</th>
          <th scope="col">Team B</th>
          <th scope="col">Results (TeamA:TeamB)</th>
          <th scope="col">Location</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
      {% for match in data %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{match.team_a}}</td>
            <td>{{match.team_b}}</td>
            <td>{{match.results}}</td>
            <td>{{match.location}}</td>
            <td>{{match.match_date}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

      <div class="w-50 p-3">
            {% if results and results.single %}

              <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Team
                      <span class="badge-secondary badge-pill">{{results.team}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Total Matches Played
                      <span class="badge-secondary badge-pill">{{results.total_matches}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Total Games Won
                      <span class="badge-secondary badge-pill">{{results.total_wins}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Total Draws With Goals
                      <span class="badge-secondary badge-pill">{{results.total_score_draws}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Total Draws Without Goals
                      <span class="badge-secondary badge-pill">{{results.total_nil_draws}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Period of Analysis
                      <span class="badge-secondary badge-pill">{{results.start_period}} - {{results.end_period}}</span>
                  </li>
              </ul>

            {% elif results %}
             <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Team
                      <span class="badge-secondary badge-pill">{{results.team}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Total Matches Played
                      <span class="badge-secondary badge-pill">{{results.total_matches}}</span>
                  </li>
                 {% for team, score in results.total_wins_per_team.items %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Total Games Won by {{ team }}
                      <span class="badge-secondary badge-pill">{{score}}</span>
                  </li>
                 {% endfor %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Total Draws With Goals
                      <span class="badge-secondary badge-pill">{{results.total_score_draws}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Total Draws Without Goals
                      <span class="badge-secondary badge-pill">{{results.total_nil_draws}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Period of Analysis
                      <span class="badge-secondary badge-pill">{{results.start_period}} - {{results.end_period}}</span>
                  </li>
              </ul>
            {% endif %}
      </div>
  </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker6').datetimepicker({
                format: 'DD/MM/YYYY'
            });
            $('#datetimepicker7').datetimepicker({
                useCurrent: false, //Important! See issue #1075
                format: 'DD/MM/YYYY'
            });
            $("#datetimepicker6").on("dp.change", function (e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
  </body>
</html>